@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");


body {
  font-family: "Gowun Dodum", sans-serif;
  color: white;
  background-image: url("./land.png");
  background-position: center;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
}
#title {
  margin: 5px;
}

input::placeholder {
  color: red;
}

.container {
  font-family: "Gowun Dodum", sans-serif;
  transition: 1s;
  background-image: url("./land.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  height: 100vh;
  box-shadow: 2px 15px 8px 3px rgba(0, 0, 0, 0.671);
}

/* 상단 컨테이너 */
.add_area {
  box-shadow: 0 20px 15px 5px black;
}

#user_input {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
  transition: 1s;
  margin: 5px;
}

#user_input:focus {
  outline: none;
  background-color: gold;
  color: black;
}
#add_btn {
  background-color: white;
}
#add_btn,
#all_del,
#choice_del {
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px;
  transition: 0u5s;
  margin: 10px 1px 5px 1px;
  background-color: black;
  color: white;
  font-family: "Gowun Dodum", sans-serif;
}

#choice_del {
  position: relative;
}

:is(#add_btn, #all_del, #choice_del):hover {
  cursor: pointer;
  color: gold;
}

/* 목록 영역 컨테이너 */
.todo_area {
  display: flex;
  box-shadow: 0 0 0 0, inset 0 0 0 0;
  transition: 0.5s;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 7px 40px;
  border-bottom: 0.5px dashed white;
}

.todo_area:hover {
  color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 0 0 0, inset 700px 0px 0 0 goldenrod,
    inset -100px 0 0 rgb(255, 4, 113);
}

.todo_area:hover > button {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.checkbox {
  padding: 10px;
  margin: 5px;
}

.del_btn {
  transform: scale(0.5);
  margin: 13px 15px 10px 15px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  visibility: hidden;
  transition: 1s;
  opacity: 0;
}

.del_btn.hide {
  visibility: visible;
  transform: scale(1.1);
  opacity: 1;
}

.line {
  text-decoration: line-through red;
}

.todo {
  line-height: 3;
}

@media screen and (max-width: 506px) {
  .add_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #add_btn,
  #all_del,
  #choice_del {
    margin: 5px;
    border-radius: 5px;
  }
}
